# Common ignores
node_modules/
.env
.DS_Store
*.log
dist/
build/
.vscode/
src/content/brands/*.json
!src/content/brands/*.public.json
src/content/brands_src/
src/content/brands_private/
exports/

public/data/brands-*.csv
!public/data/brands-sample.csv
public/data/manifest.json

# Local Netlify folder
.netlify
